<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.rabiu.farmerenrolmentliberia" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="21" />

    <uses-feature
        android:name="android.hardware.Camera"
        android:required="true"></uses-feature>

    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- Permission for using NFC hardware -->
    <!-- <uses-permission android:name="android.permission.NFC"/>-->
    <!-- Forcing device to have NFC hardware -->
  <!--  <uses-feature android:name="android.hardware.nfc" android:required="true"/> -->
    <!-- Registering app for receiving NFC's TAG_DISCOVERED intent -->
    <intent-filter>
        <action android:name="android.nfc.action.TAG_DISCOVERED"/>
        <category android:name="android.intent.category.DEFAULT"/>
    </intent-filter>

    <!-- Permission: Allow application to connect to Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission: Allow application to write to SDCard -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <uses-permission
        android:name="android.permission.READ_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.WRITE_SYNC_SETTINGS"/>
    <uses-permission
        android:name="android.permission.AUTHENTICATE_ACCOUNTS"/>
    <!--googlenan-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- Optional permission for reliable local dispatching on non-Google Play devices -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/images"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >

        <!-- Add the following meta-data for devices running Google Play service. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Optionally, register AnalyticsReceiver and AnalyticsService to support background
             dispatching on non-Google Play devices -->
        <receiver android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false"/>

        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting -->
        <receiver android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <activity
            android:name="com.example.rabiu.farmerenrolmentliberia.MainActivity"
            android:windowSoftInputMode="stateHidden"
            android:screenOrientation="portrait"
            android:label=""
            android:theme="@style/CustomActionBarTheme">

        </activity>
        <activity
            android:name="com.example.rabiu.farmerenrolmentliberia.SplashScreen"
            android:label="@string/app_name"
            android:theme="@style/Theme.AppCompat.NoActionBar">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            </activity>

        <activity android:name=".Third"
            android:windowSoftInputMode="stateHidden"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"></activity>
        <activity android:name=".Four"
            android:windowSoftInputMode="stateHidden"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"></activity>
        <activity android:name=".Five"
            android:windowSoftInputMode="stateHidden"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"
          ></activity>

        <activity android:name=".Second"
        android:windowSoftInputMode="stateHidden"
        android:label=""
        android:screenOrientation="portrait"
        android:theme="@style/CustomActionBarTheme"
        ></activity>


        <activity android:name="com.example.rabiu.farmerenrolmentliberia.Login"
        android:windowSoftInputMode="stateHidden"
        android:label="Login"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>
        <activity android:name="com.example.rabiu.farmerenrolmentliberia.Register"
            android:windowSoftInputMode="stateHidden"
            android:label="Register"
            android:screenOrientation="portrait"
            android:theme="@style/CustomActionBarTheme"></activity>

        <activity android:name="com.example.rabiu.farmerenrolmentliberia.FarmerList"
            android:windowSoftInputMode="stateHidden"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>

        <activity android:name="com.example.rabiu.farmerenrolmentliberia.ManualSync"
            android:windowSoftInputMode="stateHidden"
            android:label=""
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar"></activity>


        <provider
            android:name="com.example.rabiu.farmerenrolmentliberia.FarmersProvider"
            android:authorities="com.example.rabiu.farmerenrolmentformprovider"
            android:enabled="true"
            android:exported="false"
            android:syncable="true"></provider>

        <service
            android:name="com.example.rabiu.farmerenrolmentliberia.AuthenticatorService">
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator"/>
            </intent-filter>
            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/account_authenticator" />
        </service>

        <service
            android:name="com.example.rabiu.farmerenrolmentliberia.SyncService"
            android:exported="true"
            android:process=":sync">
            <intent-filter>
                <action android:name="android.content.SyncAdapter"/>
            </intent-filter>
            <meta-data android:name="android.content.SyncAdapter"
                android:resource="@xml/syncadapter" />
        </service>
    </application>

</manifest>
